[Unit]
Description=Bitcoin Daemon (mainnet)
After=network.target

[Service]
ExecStart=/usr/bin/bitcoind -chain=main -datadir=/home/alezkar/.bitcoin/main
ExecStop=/usr/bin/bitcoin-cli stop
User=alezkar
Restart=on-failure

[Install]
WantedBy=default.target

