[Unit]
Description=Bitcoin Daemon (testnet)
After=network.target

[Service]
ExecStart=/usr/bin/bitcoind -conf=/home/alezkar/.bitcoin/testnet3/bitcoin.conf
User=alezkar
Restart=on-failure

[Install]
WantedBy=default.target
